@media screen and (max-width: 1550px) {
    h2 {
        font-size: 18px;
    }

    a {
        font-size: 18px;
    }

    p {
        font-size: 20px;
    }

    button {
        font-size: 18px;
    }

    .container {
        max-width: 1280px;
    }

    /*header*/

    .header__menu-wrap__catalog-wrap {
        margin-right: 60px;
    }

    .header__menu-wrap__menu-list {
        padding: 0;
    }

    .menu-wrap__menu-list__item:not(:last-child) {
        margin-right: 30px;
    }

    /*sertificate*/

    .section-sertificate__list {
        grid-template-columns: 25% 25% 25% 25%;
    }

    /*condition*/

    .section-condition__block:first-child {
        background: no-repeat url(../images/banner.png) right / 75%;
    }

    /*contact*/

    .contact-info__wrapper {
        display: var(--flex);
        flex-direction: var(--clmn);
    }

    .contact-info__block:first-child {
        width: 50%;
    }

    .section-contact__article {
        width: 50%;
    }

    /*card*/

    .section-card__preview__img {
        width: 100%;
    }

    .section-card__preview__wrap h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1280px) {

    p {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }

    .container {
        max-width: 1024px;
    }

    /*header*/
    .header__menu-wrap__menu-list {
        display: var(--none);
    }

    .header__menu-wrap__dropdown-menu {
        display: block;
    }

    .catalog-modal__list {
        padding: 32px;
    }

    .dropdown-menu__dropbtn {
        padding: 20px 0;
        width: 200px;
        font-weight: 500;
        color: var(--dark);
        font-size: 18px;
        border: none;
    }

    .header__menu-wrap__dropdown-menu {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu__dropdown-content {
        display: none;
        flex-direction: var(--clmn);
        align-items: var(--cntr);
        position: absolute;
        background-color: var(--clr-grey);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-menu__dropdown-content a {
        margin: 20px 10px 0;
    }

    .dropdown-menu__dropdown-content a:hover {
        border: var(--none)
    }

    .dropdown-menu__dropdown-content a:last-child {
        margin-bottom: 20px;
    }

    .header__menu-wrap__dropdown-menu:hover .dropdown-menu__dropdown-content {
        display: var(--flex);
    }

    .catalog-modal {
        top: -300px;
    }

    .header__menu-wrap__catalog-wrap {
        margin-right: 0;
    }

    .header__button {
        height: 48px;
        width: 208px;
    }

    .header__button__img-wrap {
        padding: 0 10px;
    }

    /*hero*/

    .section-hero__text {
        max-width: 385px;
    }

    .section-hero__article__block__logo {
        height: 160px;
    }

    .card-item {
        width: 242px;
    }

    /*sertificate*/

    .section-sertificate__list {
        grid-template-columns: 35% 35% 35%;
        grid-template-rows: 260px 260px 260px;
    }

    /*condition*/

    .section-condition__article {
        height: auto;
    }

    .section-condition__block:first-child {
        padding: 30px 0;
        background: var(--none);
    }

    .section-condition__list {
        flex-direction: var(--clmn);
    }

    .section-condition__item {
        width: 100%;
    }

    .section-condition__item:nth-child(2n) {
        border-left: var(--none);
        border-right: var(--none);
    }

    .section-condition__item {
        padding: 25px 0;
    }

    /*contact*/

    .contact-container {
        flex-direction: var(--clmn);
    }

    .contact-info__block:first-child {
        width: 100%;
    }

    /*catalog*/

    .section-catalog {
        margin: 20% 0 10%;
    }

    .section-catalog__list {
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: 480px 480px;
    }

    .section-catalog__item {
        padding: 10px;
    }

    .section-catalog__item__info-wrap {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    /*card*/

    .section-card__banner__text-wrap h2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 1024px) {

    .container {
        width: 768px;
    }


    /*hero*/

    .section-hero__article {
        display: var(--flex);
        flex-direction: var(--clmn);
        align-items: flex-start;
    }

    /*sertificate*/

    .section-sertificate__list {
        grid-template-columns: 50% 50%;
        grid-template-rows: 260px 260px 260px 260px;
    }

    /*about*/

    .section-about {
        flex-direction: var(--clmn);
    }

    .section-about__img {
        height: auto;
        width: 100%;
    }

    .section-about__block:last-child {
        margin-top: 5%;
        margin-left: 0;
    }

    /*contact*/

    .section-contact {
        flex-direction: var(--clmn);
    }

    .section-contact__form {
        margin-top: 5%;
    }

    .section-contact__article {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }

    .footer__wrap {
        flex-direction: var(--clmn);
    }

    /*catalog*/

    .section-catalog__list {
        display: var(--flex);
        flex-wrap: wrap;
        gap: 23px;
    }

    .section-catalog__item:first-child {
        width: 100%;
    }

    .section-catalog__item:last-child {
        width: 100%;
    }

    /*card*/

    .section-card__preview__description-min {
        display: var(--none);
    }

    .section-card__preview {
        flex-direction: var(--clmn);
    }

    .section-card__preview__img {
        width: 50%;
    }

    .section-card__character__list-wrapper {
        flex-direction: var(--clmn);
    }

    .section-card__banner {
        flex-direction: var(--clmn);
    }

    .section-card__banner-article {
        width: auto;
    }

    .section-card__banner-article {
        height: 420px;
    }

    .section-card__banner__wrap {
        width: auto;
    }

    .section-card__banner__block {
        margin-bottom: 0;
        flex-direction: var(--clmn);
    }

    .section-card__banner__text-wrap {
        margin-right: 0;
        margin-bottom: 28px;
    }

    .bg-white {
        padding: 20% 0 5%;
    }

}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    /*root*/

    .container {
        width: 425px;
    }

    /*header*/

    .header {
        height: 100px;
    }

    .header__logo-wrap {
        padding: 0 32px;
    }

    .catalog-modal {
        top: -335px;
    }

    .header__logo-wrap__logo {
        max-height: 50px;
    }

    .header__btn-wrap {
        padding-right: 0;
    }

    .header__menu-wrap {
        display: var(--none);
    }

    .header__mobile-burger-wrap {
        margin-right: 5%;
        display: var(--flex);
        align-items: var(--cntr);
    }

    .header__mobile-burger-btn {
        width: 50px;
        height: 50px;
        font-size: 28px;
        color: var(--dark);
    }
    
    .menu-visible {
        right: 0; /* Показываем меню, сдвигая его вправо */
    }
    
    .mobileMenu__list {
        list-style: var(--none);
    }

    .mobileMenu__list__item-link {
        color: var(--dark);
    }

    /*hero*/

    .section-hero {
        margin-top: 100px;
    }

    .container-card-banner {
        justify-content: var(--cntr);
    }

    /*sertificate*/

    .section-sertificate__list {
        grid-template-columns: 100%;
        grid-template-rows: 260px 260px 260px 260px 260px 260px 260px 260px;
    }

    /*advantage*/

    .section-advantage {
        display: var(--flex);
        flex-direction: var(--clmn);
    }

    .card-item {
        width: auto;
    }

    /*condition*/

    .section-condition__article {
        width: auto;
    }

    .section-condition__list {
        padding: 38px 12px;
    }

    /*footer*/

    .footer__link__icon {
        left: -30px;
    }

    /*catalog*/

    .section-catalog__item {
        padding: 20px;
        width: 100%;
    }

    /*card*/

    .section-card__avito-banner img {
        height: 50px;
    }

    .section-card__avito-banner-arrow {
        height: 35px;
    }

    .bg-white {
        padding: 25% 0 5%;
    }

}

@media screen and (max-width: 425px) {

    a {
        font-size: 14px;
    }

    button {
        font-size: 12px;
    }

    .container {
        width: 300px;
    }

    /*header*/

    .header__button {
        width: 148px;
    }

    .header__button__img-wrap {
        display: var(--none);
    }

    .header__button {
        justify-content: var(--cntr);
    }

    .header__logo-wrap {
        padding: 0 18px;
    }

    /*hero*/

    .section-hero__banner {
        padding: 30px 0;
    }

    /*catalog*/

    .section-catalog {
        margin: 40% 0 15%;
    }

    .section-catalog__item {
        height: 520px;
    }

    .section-catalog__item:first-child .section-catalog__item__img {
        width: 100%;
    }

    .section-catalog__item:last-child .section-catalog__item__img {
        width: 100%;
    }

    /*card*/

    .bg-white {
        padding: 35% 0 5%;
    }

    .section-card__banner-btn {
        padding: 18px 40px;
        font-size: 13px;
    }
}